/*     ОБЩИЕ СТИЛИ    */
*{
    padding: 0;
    margin: 0;
}
* {
    user-select: none;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
    overflow-y: hidden;
}
@font-face {
    font-family: VCR;
    src: url("assets/fonts/VCR_OSD_MONO_1.001.ttf");
}
body{
    background: black;
    overflow: hidden;
    font-family: VCR;
}
#canvas{
    position: absolute;
    image-rendering: pixelated;
    background: rgb(192, 212, 112);
    width: 100%;
    height: 100%;
}
.unlocked {
    color: green;
}
.locked {
    color: #FF0000
}
.floating-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
    font-weight: bold;
    color: white;
    text-shadow: 0.3vw 0.3vw 0vw black;
    pointer-events: none;
    opacity: 1;
    transition: transform 4s linear, opacity 4s linear;
    z-index: 9999;
    width: 90%;
    text-align: center;
    white-space: normal;
}
.floating-text.float-away {
    transform: translate(-50%, -300%);
    opacity: 0;
}
.menu-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0)
}
.clone-image {
    position: absolute;
    pointer-events: none;
    z-index: 1000
}
#buttons-bar {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 16vw;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
}
#money-bar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
    pointer-events: none;
    flex-direction: column;
}
#money-container, #token-container {
    padding-top: 1vw;
    display: flex;
    margin-left: auto;
    padding-right: 1vw;
}
#money {
    color: yellow;
    font-size: 4.7vw;
    padding-right: 1vw;
    text-shadow: 0.3vw 0.3vw 0 black, -0.3vw -0.3vw 0 black, 0.3vw -0.3vw 0 black, -0.3vw 0.3vw 0 black;
}
#token {
    color: rgb(213, 0, 251);
    font-size: 4.7vw;
    padding-right: 1vw;
    text-shadow: 0.3vw 0.3vw 0 black, -0.3vw -0.3vw 0 black, 0.3vw -0.3vw 0 black, -0.3vw 0.3vw 0 black;
}
.small-bar-img {
    height: 4.7vw;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
#money-img {
    background-image: url('assets/design/money_img.png');
}
#token-img {
    background-image: url('assets/design/token_img.png');
}
#open-shop, #open-main-menu {
    width: 15vw;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    margin-bottom: 1vw;
    box-sizing: border-box;
}
#open-shop {
    margin-left: 1vw;
    background-image: url('assets/design/shop_button.png');
}
#open-main-menu {
    margin-right: 1vw;
    background-image: url('assets/design/profile_button.png');
}
/*     КОНЕЦ ОБЩИЕ СТИЛИ    */

/*      ОБЩИЕ СТИЛИ ДЛЯ КНОПОК, WRAP, MENU(ВСЁ ЧТО ОДИНАКОВОЕ)      */
#deals, #payments{
    background-color: aliceblue;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
}
#deals-bar, #payment-bar{
    width: 100%;
    height: 5vh;
}

.line-with-text {
    display: flex;                 /* Enables flexbox for alignment */
    align-items: center;           /* Centers text vertically */
    text-align: center;            /* Aligns text to the center */
    width: 100%;
  }
.line-with-text > span {
    color: black;
}
  .line-with-text::before,
  .line-with-text::after {
    content: "";                   /* Creates pseudo-element */
    flex: 1;                       /* Distributes space on both sides */
    border-bottom: 1px solid #000; /* Draws the line */
  }
  
  .line-with-text::before {
    margin-right: 10px;            /* Spacing between line and text */
  }
  
  .line-with-text::after {
    margin-left: 10px;             /* Spacing between text and line */
  }
  
  .line-with-text span {
    padding: 0 10px;               /* Adds padding around the text */
  }
  
/*      DEAL      */
.deal {
    background-color: #000;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.deal h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #ffd700; /* Золотой цвет для заголовка */
}

.deal-price, .deal-token {
    margin-bottom: 10px;
    font-weight: bold;
}

.deal h4 {
    margin-top: 15px;
    font-size: 1.2em;
    color: #ffa500; /* Оранжевый для заголовков */
}
.deal-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 15px;
}

.deal-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.deal-button:not(:disabled):hover {
    background-color: #218838;
}


#ton-connect {
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    align-items: center;
}

#balance-wrap {
    display: inline-flex;
}
#ton-wrap, #usdt-wrap {
    display: flex;
    flex-direction: row;
}