#buisness-menu {
    background-color: #72838D;
    width: 80%;
    max-height: 90%;
    overflow-y: scroll;
    flex-direction: column;
    overflow: visible;
}
.buisness-menu-bar {
    width: 100%;
    aspect-ratio: 27 / 1;
    position: relative;
    overflow: visible;
    background-image: url('../assets/design/buisness_menu_top.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
.exit_button_metal {
    position: absolute;
    height: 270%;
    width: auto;
    aspect-ratio: 1 / 1;
    background-image: url('../assets/design/exit_button_metal_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    image-rendering: pixelated;
    right: -3.9%;
    top: 18%;
    z-index: 1000;
    transform: translateY(-50%);
}
.buisness-menu-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;  
    padding-bottom: 2%;  
    background-image: url('../assets/design/buisness_menu.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    position: relative;
    justify-content: center;
}
.buisness_slot {
    width: 80%;
    background-color: #72838D;
    justify-content: center;
    align-items: center;
}
.buisness_slot_top {
    width: 100%;
    aspect-ratio: 172 / 3;
    position: relative;
    overflow: visible;
    background-image: url('../assets/design/buisness_slot_top.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
.buisness_slot_img_bar {
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;  
    padding-bottom: 2%;  
    background-image: url('../assets/design/buisness_slot_menu.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    position: relative;
    box-sizing: border-box;
}
#buisness_slot_img {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
#buisness_slot_lock {
    width: 70%;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 15%;
    top: 15%;
    display: none;
    background-image: url('../assets/buisnesses/lock.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
.buisness_slot_bottom {
    width: 100%;
    aspect-ratio: 172 / 3;
    position: relative;
    overflow: visible;
    background-image: url('../assets/design/buisness_slot_bottom.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
.buisness-arrow-bar {
    width: 100%;
    aspect-ratio: 4 / 1;
    display: flex;
    position: relative;
    align-items: center;
}
.buisness-arrow {
    width: 25%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
#buisness-arrow1 {
    left: 0vw;
    position: absolute;
    background-image: url('../assets/design/b_arrow_1.png');
}
#buisness-arrow2 {
    right: 0vw;
    position: absolute;
    background-image: url('../assets/design/b_arrow_2.png');
}
.buisness-menu-bottom {
    width: 100%;
    aspect-ratio: 27 / 1;
    position: relative;
    background-image: url('../assets/design/buisness_menu_bottom.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
#buisness-name {
    font-size: 6.8vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    font-weight: bold;
    text-align: center;
    margin-left: 4.5vw;
}
#buisness-price-cont {
    width: 50%;
    aspect-ratio: 2 / 1;
    position: absolute;
    left: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#buisness-price {
    font-size: 5vw;
}
#buisness-buy, #buisness-question-menu {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #94A3AD;
    border-radius: 2vw;
    border: 0.6vw solid #A8BCC8;
    z-index: 1000;
}
#buisness-question-menu {
    padding: 2vw;
    box-sizing: border-box;
    position: relative;
    overflow: visible;
}
#buisness-buy-bar, #buisness-buy-buttons-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 1vw;
}
#buisness-yes, #buisness-no {
  width: 11vw;
  height: 6vw;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 4.5vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#buisness-yes {
  background-color: green;
}
#buisness-no {
  background-color: red;
}
#buisness-buy-text {
    font-size: 4vw;
    word-wrap: break-word;
    text-align: center;
}
#buisness-properties {
    width: 60%;
    display: flex;
    flex-direction: column;
    overflow: visible;
}
#close-buisness-properties {
    position: absolute;
    height: 360%;
    width: auto;
    aspect-ratio: 1 / 1;
    background-image: url('../assets/design/exit_button_metal_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    right: -5.5%;
    top: 22%;
    z-index: 1000;
    transform: translateY(-50%);
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    box-sizing: border-box;
}
#buisness-activ, #buisness-inactive {
    flex-wrap: wrap;
    flex-direction: column;
}
#buisness-menu-list-bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#buisness-question {
    width: 9vw;
    aspect-ratio: 1 / 1;
    background-image: url('../assets/design/buisness_question_button_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    position: absolute;
    left: 3.5vw;
}
#buisness-question-close {
    width: 8vw;
    aspect-ratio: 1 / 1;
    background-image: url('../assets/design/exit_button_metal_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    position: absolute;
    right: -7.6%;
    top: -10%;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 2vw;
    overflow: visible;
    background: #80878C;
    border-radius: 1vw;
    outline: none;
    margin-top: 4vw;
    margin-bottom: 2vw;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #A6ADB3, 0 0 0 4px #949BA2, 0 0 0 6px #80878C;
} 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5.2vw;
    aspect-ratio: 1 / 1;
    background: #80878C;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #A6ADB3, 0 0 0 4px #949BA2, 0 0 0 6px #80878C;
}
input[type="range"]::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #80878C;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 2px green, 0 0 0 4px red;
}
.buisness-button {
    width: 50%;
    aspect-ratio: 96 / 34;
    background-image: url('../assets/design/grey_button_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vw;
}
#buisness-active, #buisness-inactive {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#buisness-question-text {
    text-align: center;
    font-size: 4.7vw;
}
.buisness-pro-text {
    font-size: 4.7vw;
    margin-top: 2vw;
    box-sizing: border-box;
    text-align: center;
    color: black;
}
#buisness-active-name, #buisness-inactive-name {
    font-size: 6.3vw;
    margin-bottom: 1.5vw;
    font-weight: bold;
    text-align: center;
}
.buisness-button-text {
    font-size: 4.5vw;
}
#buisness-properties-list {
    overflow: visible;
    padding: 3vw;
}
#business-invest-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: visible;
    border-top: 0.3vw solid black;
    border-bottom: 0.3vw solid black;
    margin-top: 1vw;
    padding-bottom: 2vw;
}
#b-inv-sum-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: visible;
}
#open-buisness-button {
    height: 90%;
    aspect-ratio: 1 / 1;
    background-image: url('../assets/design/open_business_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}